.styles_flex__sAX8y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.styles_container__Z_mr6 {
  margin-top: 8px;
  max-width: 100%;
  position: relative;
}
.styles_wrapper__fFp5k {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 76%;
  height: 76%;
  margin: 12%;
}
.styles_chart-wrapper__m4Wtj {
  width: 130%;
  height: 130%;
  margin: -15%;
}
.styles_container__XeuDe {
  width: 100%;
  display: block;
}

/* .Id {
  opacity: 0;
  fill: #ffb727;
}
.I {
  opacity: 0;
  fill: #e5be00;
}
.IS {
  opacity: 0;
  fill: #afd80a;
}
.Si {
  opacity: 0;
  fill: #88c100;
}
.S {
  opacity: 0;
  fill: #11b21b;
}
.Sc {
  opacity: 0;
  fill: #51b48e;
}
.SC {
  opacity: 0;
  fill: #00b6bc;
}
.Cs {
  opacity: 0;
  fill: #007fb6;
}
.C {
  opacity: 0;
  fill: #2f5fa5;
}
.Cd {
  opacity: 0;
  fill: #6756b2;
}
.CD {
  opacity: 0;
  fill: #93359b;
}
.Dc {
  opacity: 0;
  fill: #c62e85;
}
.D {
  opacity: 0;
  fill: #db3c48;
}
.Di {
  opacity: 0;
  fill: #e5561f;
}
.DI {
  opacity: 0;
  fill: #f48119;
} */
